

        <div class="footer-bottom">
            <div class="wrap">

                <div class="copy">
                    <p>© 2017 Designned by <a href="http://www.maravind.com" target="_blank">Aravind</a></p>
                </div>

                <div class="f-list2">
                    <ul>
                        <li class="active"><a href="about.html">About Us</a></li> |
                        <li><a href="delivery.html">Delivery & Returns</a></li> |
                        <li><a href="delivery.html">Terms & Conditions</a></li> |
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div>

